.imageThumbnail {
    height: 200px;
    width: auto;
}

.alldays{
    background-color: lavender;
}

.today{
    background-color:lightskyblue;
}

.weekend {
    background-color:gainsboro;
}

.btn.highP {
    background-color: lightcoral;
}
.btn.mediumP {
    background-color:cornflowerblue;
}
.btn.lowP {
    background-color:palegreen;
}

.btn.addEvent {
    background-color:gray;
}